.header{
    display:flex;
    justify-content: space-between;
}
.box{
    border: 2px black solid;
    padding: 5px 10px 5px 10px;
}
.nav{
    display:flex;
    justify-content: space-evenly;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    margin-top: 5px;
}
.title_box{
    display: flex;
    justify-content: center;
    border: 2px black solid;
    margin: 10px 10% 10px 10%;
    padding: 0px 5px 0px 5px;
}
h1{
    font-weight:normal;
}
.ia_box{
    display: flex;
    justify-content: space-between;
    margin: 10px 10% 10px 10%;
    align-items: center;
}
.icon_box{
    display:flex;
    gap:10px;
}
.icon_box a{
    color:black;
    border: 2px black solid;
    padding: 2px;
}
#img{
    height: 100px;
}
.text{
    margin: 0px 10% 0px 10%;
}
p{
    padding: 0px;
    margin: 0px;
}
.text_p{
    text-align: center;
    margin: 0px 2px;
}
.info_box{
    display: flex;
    flex-direction: column;
    margin: 0px 10% 0px 10%;
    border: 1px black solid;
}
.subtitles{
    display: flex;
    justify-content: space-around;
}
#more_info{
    margin-left: 10%;
}
.info_lists{
    display: flex;
    justify-content:space-around

}
ul{
    list-style:none;
    margin-top: 0px;
}
a{
    text-decoration: none;
    color:blue;
}
.dash li::before{
    content:'- ';
    color:black;
}
footer{
    display:flex;
    justify-content: space-between;
    margin: 20px 10% 20px 10%;
    align-items: center;

}
.foot_links{
    display:flex;
    gap:10px;
    padding: 5px;
    margin-top: 5px;
}
.aa{
    border: 3px black solid;
    display:flex;
    align-items: center;
    gap:10px;
    padding: 5px;
}
#aa{
    height:30px;
}
